h1 {
    font-feature-settings:;
    font-size:1.5cm;
    color: rgb(49, 10, 53);
    background-image: linear-gradient(rgb(237, 43, 192),rgb(225, 225, 225), rgb(254, 49, 162)) ;
    background-attachment:local;
    background-size: 2cm;
}  
p {
    height:fit-content;
    font-size: 0.5cm;
    color:rgb(254, 7, 201);
    font-weight:rgb(172, 124, 216);
}
h1{
    border-style:groove solid pink;
    border-radius: 100px;
    padding-left:19px;
    padding-right:19pxx ;
    margin-left:  15cm;
    margin-right:  14cm;
    font-family: 'Brush Script MT', cursive ;
    
}
h2{ 
    
    background-image: repeating-radial-gradient(rgb(255, 255, 255),rgba(223, 20, 202, 0.774),rgb(88, 12, 65));
    font-size: 34cm;
    color:rgb(61, 6, 43);
    padding: 30px;
    margin-left:  14.5cm;
    margin-right:  13.5cm;
    font-size: 24px;
    font-family:  'Pacifico', cursive;
    font-style:oblique ;
    border-bottom-right-radius:40px ;
    border-top-left-radius:40px
}
body{
    background-image: url("cake3.jpg");
    background-repeat:round;
    background-attachment:scroll;
    background-size:40cm;
}
h3{
    margin-left: 9cm;
    margin-right: 8.5cm;
    font-size: 1cm;
    color: rgb(228, 146, 228);
    background-color: transparent;
    border-style:dashed;
}
h4{
    background-image:linear-gradient(purple,violet,White);
    padding:30px;
    margin-left: 13.5cm;
    margin-right: 12cm;
    font-size:24px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    font-family: 'Dancing Script', cursive;
    text-align:center;
    text-align-last: right;
    shape-image-threshold: unset;
}
h5
{
    background-image: 40px;
}
